/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-top: 30px;
}

/*Top bar of the game rooms*/
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  color: white;
  padding: 5px 10px;
  font-family: Arial, sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.top-bar #room-info {
  font-size: 12px;
  font-weight: bold;
}
.top-bar .leave-room {
  background-color: #e74c3c;
  border: none;
  padding: 4px 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}
.top-bar .leave-room:hover {
  background-color: #c0392b
}

.waiting-popup{
  display:none; 
  position:fixed; 
  top:0; 
  left:0; 
  width:100%; 
  height:100%; 
  background:rgba(0,0,0,0.8); 
  color:white; 
  z-index:1000; 
  text-align:center; 
  padding-top:50px;
}
/*This portion takes care of the hand container what the cards look like and the hover effect of the cards*/
#hand {
  display: flex;
  flex-direction: row;   /* horizontal layout */
  gap: 12px;             /* space between cards */
  justify-content: center;
  padding: 20px;
}
.card {
  width: 100px;
  height: 140px;
  background-color: #f8f8f8;
  border: 2px solid transparent;
  transition: border 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card:hover {
  border: 2px solid #2196f3;
  transform: translateY(-5px); /* card lift effect */
}
/* Disable hover for played cards */
.card.played {
  pointer-events: none;         /* disables all interaction */
  cursor: none;
}
.opp-played {
  width: 50px;
  height: 70px;
  background-color: #f8f8f8;
  border: 2px solid transparent;
  transition: border 0.3s ease, transform 0.2s ease;
  display: flex;
  justify-content: center;
}
.card-back{
  width: 50px;
  height: 70px;
  background-color: #f8f8f8;
  border: 2px solid transparent;
  transition: border 0.3s ease, transform 0.2s ease;
  display: flex;
  justify-content: center;
}
.opponent-name{
  display: flex;
  justify-content: center;
}
.hand-info{
  display: flex;
  justify-content: center; 
  gap: 6px; /*Gap between cards*/
}

