/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*This portion takes care of the hand container what the cards look like and the hover effect of the cards*/
#hand {
  display: flex;
  flex-direction: row;   /* horizontal layout */
  gap: 12px;             /* space between cards */
  justify-content: center;
  padding: 20px;
}
.card {
  width: 100px;
  height: 140px;
  background-color: #f8f8f8;
  border: 2px solid transparent;
  transition: border 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card:hover {
  border: 2px solid #2196f3;
  transform: translateY(-5px); /* card lift effect */
}
/* Disable hover for played cards */
.card.played {
  pointer-events: none;         /* disables all interaction */
  cursor: none;
}
.opp-played {
  width: 50px;
  height: 70px;
  background-color: #f8f8f8;
  border: 2px solid transparent;
  transition: border 0.3s ease, transform 0.2s ease;
  display: flex;
  justify-content: center;
}
.card-back{
  width: 50px;
  height: 70px;
  background-color: #f8f8f8;
  border: 2px solid transparent;
  transition: border 0.3s ease, transform 0.2s ease;
  display: flex;
  justify-content: center;
}
.opponent-name{
  display: flex;
  justify-content: center;
}
.hand-info{
  display: flex;
  justify-content: center; 
  gap: 6px; /*Gap between cards*/
}

