/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-top: 30px;
}

/*Top bar of the game rooms*/
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  color: white;
  padding: 5px 10px;
  font-family: Arial, sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.room-info {
  font-size: 12px;
  font-weight: bold;
}
.leave-room {
  background-color: #e74c3c;
  border: none;
  padding: 4px 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}
.leave-room:hover {
  background-color: #c0392b
}

/*Waiting Popup*/
#waiting-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px); /*Adds the blur effect to the background*/
  background-color: rgba(0,0,0, 0.5); /* semi-transparent dark background*/
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
#waiting-popup {
  background: white;
  flex-direction: column; /*Stack vertically*/
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  animation: 0.3s ease-in-out;
}
#popup-btns {
  display: flex;
  align-items: center;
}
#start-game {
  background-color: #3c67e7;
  border: none;
  padding: 4px 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}
#start-game:hover {
  background-color: #302bc0
}
#waiting-popup .room-info {
  position: relative;
  top: 12px;
  left: 16px;
  font-size: 12px;
  font-weight: bold
}


/*This portion takes care of the hand container what the cards look like and the hover effect of the cards*/
#hand {
  display: flex;
  flex-direction: row;   /* horizontal layout */
  gap: 12px;             /* space between cards */
  justify-content: center;
  padding: 20px;
}
.card {
  width: 100px;
  height: 140px;
  background-color: #f8f8f8;
  border: 2px solid transparent;
  transition: border 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card:hover {
  border: 2px solid #2196f3;
  transform: translateY(-5px); /* card lift effect */
}
/* Disable hover for played cards */
.card.played {
  pointer-events: none;         /* disables all interaction */
  cursor: none;
}
.opp-played {
  width: 50px;
  height: 70px;
  background-color: #f8f8f8;
  border: 2px solid transparent;
  transition: border 0.3s ease, transform 0.2s ease;
  display: flex;
  justify-content: center;
}
.card-back{
  width: 50px;
  height: 70px;
  background-color: #f8f8f8;
  border: 2px solid transparent;
  transition: border 0.3s ease, transform 0.2s ease;
  display: flex;
  justify-content: center;
}
.opponent-name{
  display: flex;
  justify-content: center;
}
.hand-info{
  display: flex;
  justify-content: center; 
  gap: 6px; /*Gap between cards*/
}

