/**********************************************************************************************************************************************
  *
  * Color Schemes
  *
  *********************************************************************************************************************************************/

  /*Default Theme (dark)*/
  :root {
  --bg-color: #1c1c1c;
  --mg-color: #4a4a4a;
  --fg-color: #6d6d6d;
  --text-color: white;
  --bl-btn:#005fff;
  --bl-btn-hv: #0033CC;
  --rd-btn:red;
  --rd-btn-hv:darkred;
  --gn-btn:#01b401;
  --gn-btn-hv:#009400;
}

body[data-theme='light'] {
  --bg-color: #ffffff;
  --mg-color: #f7fffd;
  --fg-color: #e6eaec;
  --text-color: black;
  --bl-btn:#005fff;
  --bl-btn-hv: #0033CC;
  --rd-btn:red;
  --rd-btn-hv:darkred;
  --gn-btn:#01b401;
  --gn-btn-hv:#009400;
}

body[data-theme='navy'] {
    --bg-color: #19232c;
  --mg-color: #22303c;
  --fg-color: #344a5d;
  --text-color: #a9a9a9;
  --bl-btn:#213571;
  --bl-btn-hv: #1a2a5a;
  --rd-btn:#6f0000;
  --rd-btn-hv:#610000;
  --gn-btn:#154f30;
  --gn-btn-hv:#124429;
}

/**************************************
  *
  * General/Common Styling
  *
  ************************************/
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /* prevents horizontal scroll*/
  color: var(--text-color);
  background: var(--bg-color);
}
/********************************************************************************************************************************************
*
* Game Selection Screen
*
*********************************************************************************************************************************************/
.title{
  text-align: center;
  font-size: 2.5rem;
  margin-bottom:10px;
  color: #2c3e50
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.username-input{
  text-align: center;
  display:flex;
  flex-direction: row;
  gap: 10px;
}
.username-input label {
  text-align: center;
  display: block;
  padding: 5px;
  font-weight: bold;
}
.username-input input {
  width: 200px;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid var(--fg-color);
  background-color: var(--fg-color);
  color: var(--text-color);
}
.sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.host-section{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section h2 {
  text-align:center;
  color: #34495e;
}
.game-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.create-room-btn {
  padding: 10px 16px;
  border: none;
  background-color: var(--bl-btn);
  color: var(--text-color);
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}
.create-room-btn:hover{
  background-color: var(--bl-btn-hv);
}
.join-section{
  display:flex;
  flex-direction: row;
  gap: 10px;
}
.join-section label {
  text-align: center;
  display: block;
  padding: 5px;
  font-weight: bold;
}
.join-section input {
  width: 200px;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid var(--fg-color);
  background-color: var(--fg-color);
  color: var(--text-color); 
}
.join-btn {
  width: 70px;
  background-color: var(--gn-btn);
  color: var(--text-color) ;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}
.join-btn:hover {
  background-color: var(--gn-btn-hv);
}

/********************************************************************************************************************************************
*
* Default Room Items
*
*********************************************************************************************************************************************/
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--mg-color);
  padding: 5px 10px;
  font-family: Arial, sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.room-info {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-weight: bold;
}
.bar-id {
  font-size: 12px;
  font-weight: bold;
}
.copy-icon {
  cursor: pointer;
  width: 1em;
  height: 1em;
}
.leave-room {
  background-color: var(--rd-btn);
  border: none;
  margin-right: 20px;
  padding: 4px 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}
.leave-room:hover {
  background-color: var(--rd-btn-hv)
}

/***************************************
*
* Scoreboard
*
***************************************/
#scoreboard {
  position: absolute;
  justify-content: center;
  background-color: var(--mg-color);
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  top: 50%;
  right: 5px;
  transform: translateY(-80%);
  align-items: center;
}

.team{
  background-color: var(--fg-color);
  text-align: center;
  border-radius: 8px;
  margin: 5px;
}

.team .team-name {
  font-size: 15px;
  color: var(--text-color)
  ;
}

.team .team-score {
  font-size: 15px;
  color: var(--text-color);
}

/***************************************
*
* Waiting Popup
*
***************************************/
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px); /*Adds the blur effect to the background*/
  background-color: rgba(0,0,0, 0.5); /* semi-transparent dark background*/
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.popup {
  position: relative;
  background: var(--bg-color);
  flex-direction: column; /*Stack vertically*/
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  min-height: 300px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  animation: 0.3s ease-in-out;
  justify-content: center;
}
#waiting-popup .room-info {
  position: absolute;
  top: 12px;
  left: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  font-weight: bold;
}
.waiting-list-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}
#popup-btns {
  display: flex;
  justify-content: center;
  gap: 12px;
}
#start-game {
  background-color: var(--bl-btn);
  border: none;
  padding: 4px 6px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}
#start-game:hover {
  background-color: var(--bl-btn-hv)
}

/*Team Selector Part of Popup*/
#teams {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
#team-column-wrapper {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}
.team-column {
  background-color: var(--mg-color);
  border: 2px solid black;
  border-radius: 12px;
  padding: 15px;
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.team-column input#team-name {
  font-size: 1.1rem;
  background-color: var(--fg-color);
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
  outline: none;
  transition: border 0.2s;
}
.team-column input#team-name:focus {
  border-color: #007bff;
}
.team-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 8px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 0.95rem;
  background-color: var(--fg-color);
  border: 1px solid black;
  color: black;
}
.move-player {
  border: none;
  background-color: var(--bl-btn);
  color: var(--text-color);
  border-radius: 50%;
  padding: 2px 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  margin-left: 4px;
}
.move-player:hover {
  background-color: var(--bl-btn-hv);
}
#add-del-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.add-del-btn {
  background-color: var(--fg-color);
  padding: 5px 8px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.add-del-btn:hover {
  background-color: var(--mg-color);
}
#random-teams {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 5px;
  justify-content: center;
}
#random-teams .team-label {
  font-weight: bold;
}
.team-size {
  background-color: var(--fg-color);
  padding: 6px;
  border-radius: 8px;
  border: 1px solid;
  text-align: center;
}
#random-btn {
  background-color: var(--gn-btn);
  color: black;
  padding: 4px 7px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
#random-btn:hover {
  background-color: var(--gn-btn-hv);
}

/***************************************
*
* Logs
*
***************************************/
.logs {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 76%;
  background-color: var(--fg-color);
  color: var(--text-color);
  padding: 8px;
  box-sizing: border-box;
  overflow-y: auto;
  border-right: 2px solid var(--mg-color);
}
.log-entry {
  margin-bottom: 10px;
  font-size: 14px;
  border-bottom: 1px solid var(--mg-color);
  padding-bottom: 4px;
}

/***************************************
*
* Settings
*
***************************************/
#settings-panel {
  position: absolute;
  justify-content: center;
  top: 11%;
  right: 2%;
  padding: 10px;
  transform: translateY(-30%);
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 5px #000;
  background-color: var(--mg-color);
}

.settings-panel.closed {
  display: none;
}

.settings-panel h2{
  text-align: center;
  border-bottom: 2px solid var(--bg-color);
}

#settings-toggle {  
  position: fixed;
  margin-right: auto;
  top: 6%;
  right: 1%;
  width: 30px;
  height: 30px;
  background: var(--bl-btn);
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  z-index: 5; 
}

#theme-selector{
  background-color: var(--fg-color);
  border-radius: 6px;
}
/**************************************************************************************************************************************
*
* General Card Section
*
***************************************************************************************************************************************/
.card {
  width: 100px;
  height: 150px;
  transition: border 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  border-radius: 15px;
  position: relative;
}
.card:hover {
  border: 2px solid #2196f3;
  transform: translateY(-2px); /* card lift effect */
}
.card-hinge {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.card.flipped .card-hinge {
  transform: rotateY(180deg);
}

.card-face, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  background-image: url('card_art/Cats_Deck.png');
}

/* Back side rotated, hidden by default */
.card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

.card-face {
  z-index: 2; /* above back */
}


/**************************************************************************************************************************************
*
* Opponents Section
*
***************************************************************************************************************************************/
#opponents {
  margin-top: 60px;
  min-height: 80px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.card-row {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.opp-card {
  width: 60px;
  height: 80px;
  background-color: #f8f8f8;
  border: 2px solid transparent;
  transition: border 0.3s ease, transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  background-repeat: no-repeat;
}
.opp-card:hover {
  border: 2px solid #2196f3;
  transform: translateY(-2px); /* card lift effect */
}
.opponent-name{
  display: flex;
  justify-content: center;
}

/**************************************************************************************************************************************
*
* Player Hand
*
***************************************************************************************************************************************/
#bottom-section {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  background: var(--mg-color);
}
.card.played {
  pointer-events: none;  /* disables all interaction */
  cursor: none;
  position: fixed;
  bottom: 120px; /* Where the played card lays on the screen */
  left: 90%;
  transform: translateX(-50%);
  z-index: 10;
  background-image: url('card_art/Cats_Deck.png');
  background-repeat: no-repeat;
}
#hand {
  display: flex;
  flex-direction: row;   /* horizontal layout */
  gap: 6px;             /* space between cards */
  justify-content: center;
  padding: 3px;
  overflow-x: auto;
}
.hand-info{
  display: flex;
  justify-content: center; 
  gap: 6px; /*Gap between cards*/
}
#hand.hand-disabled .card {
  pointer-events: none;           /* disables click, hover, etc. */
  filter: grayscale(100%);        /* visually greys out the card */
  opacity: 0.5;                   /* optional: make it more muted */
  cursor: default;                /* change cursor to normal */
  transform: none !important;     /* prevent hover lifting */
  border: 2px solid transparent;  /* remove hover border effect */
}

/**********************************************************************************************************************************************
*
* Cribbage Elements
*
*********************************************************************************************************************************************/

/*Flipped*/
#flipped {
  position: absolute; 
  top: 45%;         /* Center it vertically */
  left: 25%;          
  transform: translateY(-50%);
  padding: 10px;
  pointer-events: none;   
  cursor: default;               
}

/*Game Info*/
#game-info {
  position: absolute; 
  top: 45%;         /* Center it vertically */
  left: 60%;          
  transform: translateY(-50%);
  padding: 10px;
  pointer-events: none;    
  filter: grayscale(100%);    
  cursor: default;               
}