/**********************************************************************************************************************************************
  *
  * Color Schemes
  *
  *********************************************************************************************************************************************/

  /*Default Theme (dark)*/
:root {
  /*Sizing*/
  --top-height: 5vh;
  --bottom-height: 25vh;
  --side-width: 18vw;

  /*Colors*/
  --logs:  #6d6d6d;
  --teams:  #6d6d6d;
  --scoreboard: #6d6d6d;
  --hand-container: #4a4a4a;
  --background: #1c1c1c;
  --top_bar: #4a4a4a;
  --settings:#4a4a4a; 
  --border:  #4a4a4a;
  --text-bg: lightgrey;
  --text-color: white;
  --bl-btn:#005fff;
  --rd-btn:tomato;
  --gn-btn:#01b401;
}

body[data-theme='light'] {
  --logs:  white;
  --teams:  white;
  --scoreboard: white;
  --hand-container: ivory;
  --background: whiteSmoke;
  --top_bar: ivory;
  --settings:ivory;
  --border:  ivory;
  --text-bg: white;
  --text-color: black;
  --bl-btn:#005fff;
  --rd-btn:red;
  --gn-btn:#01b401;
}

body[data-theme='pink_rose'] {
  --logs:  floralWhite;
  --teams:  floralWhite;
  --scoreboard: floralWhite;
  --hand-container: mistyRose;
  --background: ivory;
  --top_bar: mistyRose;
  --settings:mistyRose;
  --border:  mistyRose;
  --text-bg: floralWhite;
  --text-color: black;
  --bl-btn:dodgerBlue;
  --rd-btn:tomato;
  --gn-btn:mediumSeaGreen;
}

body[data-theme='ocean'] {
  --logs:  teal;
  --teams:  teal;
  --scoreboard: teal;
  --hand-container: darkSlateGrey;
  --background: lightSeaGreen;
  --top_bar: darkSlateGrey;
  --settings: darkSlateGrey;
  --border:  darkSlateGrey;
  --text-bg: teal;
  --text-color: white;
  --bl-btn:dodgerBlue;
  --rd-btn:tomato;
  --gn-btn:mediumSeaGreen;
}

body[data-theme='navy'] {
  --logs:  #344a5d;
  --teams:  #344a5d;
  --scoreboard: #344a5d;
  --hand-container: #22303c;
  --background: #19232c;
  --top_bar: #22303c;
  --settings:#22303c;
  --border:  #22303c;
  --text-bg: #344a5d;
  --text-color: #a9a9a9;
  --bl-btn:#213571;
  --rd-btn:#6f0000;
  --gn-btn:#154f30;
}

body[data-theme='cursed'] {
  --logs:  #344a5d;
  --teams:  #344a5d;
  --scoreboard:  #344a5d;
  --hand-container: #344a5d;
  --background:  #344a5d;
  --top_bar:  #344a5d;
  --settings: #344a5d;
  --border: black;
  --text-bg:#6d6d6d;
  --text-color: black;
  --bl-btn:#005fff;
  --rd-btn:tomato;
  --gn-btn:#01b401;
}


/**************************************
  *
  * General/Common Styling
  *
  ************************************/
body {
  width: 100%;
  height: 100%;
  color: var(--text-color);
  background: var(--background);
  background-size: 100% 100%;
  margin: 0;
  padding:0;
  overflow: hidden;   /* disables scrolling */
}
.input {
  background: var(--text-bg);
  color: var(--text-color);
}
/* Full-page grid with 3 rows and 3 columns */
.layout {
  display: grid;
  overflow: hidden; /* prevents horizontal scroll*/
  width: 100vw;
  height: 100vh;

  grid-template-rows: 
      var(--top-height)
      calc(100vh - var(--top-height) - var(--bottom-height))
      var(--bottom-height);

  grid-template-columns: 
      var(--side-width)
      calc(100vw - 2 * var(--side-width))
      var(--side-width);
}

/*Other grid sections specified below */
.center {
  grid-column: 2;
  grid-row: 2;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--background);
  position:relative;
}

.center-main {
  height: 60%;
  position: relative;
  overflow: hidden;
}

/********************************************************************************************************************************************
*
* Game Selection Screen
*
*********************************************************************************************************************************************/
.title{
  text-align: center;
  font-size: 2.5rem;
  margin-bottom:10px;
  color: #2c3e50
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#signInBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  gap: 10px;
  background-color: var(--rd-btn);
  padding: 10px 16px;
  border: none;
  color: var(--text-color);
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}
#signInBtn:hover {
  background-color: color-mix(in srgb, var(--rd-btn) 80%, black)
}
/* #username-input{
  text-align: center;
  display:flex;
  flex-direction: row;
  gap: 10px;
}
#username-input label {
  text-align: center;
  display: block;
  padding: 5px;
  font-weight: bold;
}
#username-input input {
  width: 200px;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid var(--fg-color);
  background-color: var(--fg-color);
  color: var(--text-color);
} */
.sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.host-section{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section h2 {
  text-align:center;
  color: #34495e;
}
.game-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.create-room-btn {
  padding: 10px 16px;
  border: none;
  background-color: var(--bl-btn);
  color: var(--text-color);
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}
.create-room-btn:hover{
  background-color: color-mix(in srgb, var(--bl-btn) 80%, black)
}
.join-section{
  display:flex;
  flex-direction: row;
  gap: 10px;
}
.join-section label {
  text-align: center;
  display: block;
  padding: 5px;
  font-weight: bold;
}
.join-section input {
  width: 200px;
  padding: 5px;
  border-radius: 6px;
  color: var(--text-color); 
}
.join-btn {
  width: 70px;
  background-color: var(--gn-btn);
  color: var(--text-color) ;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}
.join-btn:hover {
  background-color: color-mix(in srgb, var(--gn-btn) 80%, black)
}
.menu-input{
  text-align: center;
  display:flex;
  flex-direction: row;
  gap: 10px;
}
.menu-input label {
  text-align: center;
  display: block;
  padding: 5px;
  font-weight: bold;
}
.menu-input input {
  width: 200px;
  padding: 5px;
  border-radius: 6px;
  color: var(--text-color);
}
.cribbage-btn {
  padding: 10px 16px;
  border: none;
  background-color: var(--bl-btn);
  color: var(--text-color);
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}
.cribbage-btn:hover{
  background-color: color-mix(in srgb, var(--bl-btn) 80%, black)
}
.cancel-room-btn {
  padding: 10px 16px;
  border: none;
  background-color: var(--rd-btn);
  color: var(--text-color);
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}
.cancel-room-btn:hover{
  background-color: color-mix(in srgb, var(--rd-btn) 80%, black)
}

/********************************************************************************************************************************************
*
* Default Room Items
*
*********************************************************************************************************************************************/
.top-bar {
  padding: 1%;
  grid-column: 1/4;
  grid-row: 1;
  display: flex;
  align-items: center;
  background: var(--top_bar);
  background-size: 100% 100%;
  border: var(--border);
}
.room-info {
  display: flex;
  gap: 8px;
  font-weight: bold;
}
.bar-id {
  font-size: 12px;
  font-weight: bold;
}
.copy-icon {
  cursor: pointer;
  width: 1em;
  height: 1em;
}
.leave-room {
  height: 4vmin;
  background-color: var(--rd-btn);
  border: none;
  padding: 4px 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}
.leave-room:hover {
  background-color: color-mix(in srgb, var(--rd-btn) 80%, black)
}

.options {
  display:flex;
  position: absolute;
  right: 1%;
  gap: 10px;
  top: .5%;
}
/***************************************
*
* Settings
*
***************************************/
#settings {
  position: relative;
  width: fit-content;
  height: fit-content;
}

#settings-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 5px #000;
  background-color: var(--settings);
}
#settings-panel.closed {
  display: none;
}
.settings-panel h2{
  text-align: center;
  border-bottom: 2px solid var(--background);
}
#settings-toggle {
  position: absolute;
  right: 0;
  top: 0;
  width: 4.5vmin;
  height: 4.5vmin;
  background: var(--bl-btn);
  background-size: 100% 100%;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  z-index: 30; 
}
.theme-selector{
  background-color: var(--text-bg);
  color: var(--text-color);
  border-radius: 6px;
  margin-bottom: 10px;
}

/***************************************
*
* Scoreboard
*
***************************************/
#scoreboard {
  grid-column: 3;
  grid-row: 2;
  background-color: var(--scoreboard);
  color: var(--text-color);
  padding: 8px;
}
.team-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--border);
  margin: 5px;
  color: var(--text-color);
}
.players {
  padding-left: 15px;
}
.player {
  display: flex;
  justify-content: space-between;
  padding: 2px;
}

/***************************************
*
* Waiting Popup
*
***************************************/
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px); /*Adds the blur effect to the background*/
  background-color: rgba(0,0,0, 0.5); /* semi-transparent dark background*/
  align-items: center;
  justify-content: center;
}
.popup-overlay#joker_popup {
  backdrop-filter: none;               /* Removes the blur */
  background-color: transparent;       /* Removes the dark overlay */
}
.popup {
  position: relative;
  background: var(--background);
  background-size: 100% 100%;
  flex-direction: column; /*Stacks children vertically*/
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  max-width: 50%;
  min-height: 30%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  animation: 0.3s ease-in-out;
}
#waiting-popup .room-info {
  position: absolute;
  top: 12px;
  left: 16px;
  font-size: 12px;
  font-weight: bold;
}
.waiting-list-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}
#popup-btns {
  display: flex;
  justify-content: center;
  gap: 12px;
}
#start-game {
  background-color: var(--bl-btn);
  border: none;
  padding: 4px 6px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}
#start-game:hover {
  background-color: color-mix(in srgb, var(--bl-btn) 80%, black)
}

/*Team Selector Part of Popup*/
#teams {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
#team-column-wrapper {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}
.team-column {
  background-color: var(--teams);
  border: 2px solid black;
  border-radius: 12px;
  padding: 15px;
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.team-column input#team-name {
  font-size: 1.1rem;
  background-color: var(--text-bg);
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
  outline: none;
  transition: border 0.2s;
}
.team-column input#team-name:focus {
  border-color: #007bff;
}
.team-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 8px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 0.95rem;
  background-color: var(--text-bg);
  border: 1px solid black;
  color: black;
}
.move-player {
  border: none;
  background-color: var(--bl-btn);
  color: var(--text-color);
  border-radius: 50%;
  padding: 2px 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  margin-left: 4px;
}
.move-player:hover {
  background-color: color-mix(in srgb, var(--bl-btn) 80%, black)
}
#add-del-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.add-del-btn {
  background-color: var(--text-bg);
  padding: 5px 8px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.add-del-btn:hover {
  background-color: color-mix(in srgb, var(--text-bg) 80%, black)
}
#random-teams {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 5px;
  justify-content: center;
}
#random-teams .team-label {
  font-weight: bold;
}
.team-size {
  background-color: var(--text-bg);
  padding: 6px;
  border-radius: 8px;
  border: 1px solid;
  text-align: center;
}
#random-btn {
  background-color: var(--gn-btn);
  color: black;
  padding: 4px 7px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
#random-btn:hover {
  background-color: color-mix(in srgb, var(--gn-btn) 80%, black)
}

/*Game mode selection part of popup*/

#inner-container{
  display:flex;
  align-items: center;
  align-items: stretch;
  gap: 10px;
}

.divide-line {
  width: 2px;
  background-color: var(--border);
  align-self: stretch;
}

.menu-selector{
  display: flex;
  background: var(--text-bg);
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  margin-bottom:10px;
}

/*Winner Popup*/
#winners {
  font-size: large;
  color: var(--gn-btn);
}
/***************************************
*
* Indicators
*
***************************************/
.indicator {
  width: 3vmin;
  height: 3vmin;
  border-radius: 50%;
  margin-left: 10px;
  display: none;
  justify-content: center;
  align-items: center;
}
.indicator.active {
  display: flex;
}
.indicator[data-type="turn"] {
  background: gold;
  color: black
}
.indicator[data-type="crib"] {
  background: purple;
  color: white;
}
.local-indicator {
  position: fixed;
  bottom: 26%;
  width: 4vmin;
  height: 4vmin;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
}
.local-indicator.active {
  display: flex;
}
.local-indicator[data-type="crib"] {
  left: 25%;
  background: purple;
  color: white;
}
.local-indicator[data-type="turn"] {
  left: 20%;
  background: gold;
  color:black;
}
/***************************************
*
* Logs
*
***************************************/
.logs {
  grid-column: 1;
  grid-row: 2;
  background-color: var(--logs);
  color: var(--text-color);
  padding: 8px;
  overflow-y: auto;
}
.log-entry {
  margin-bottom: 10px;
  font-size: 14px;
  border-bottom: 1px solid var(--border);
}

/**************************************************************************************************************************************
*
* General Card Section
*
***************************************************************************************************************************************/
.card {
  transition: border 0.3s,ease, transform 0.2s ease;
  cursor: pointer;
  border-radius: 15px;
}
.card:hover {
  border: 2px solid #2196f3;
  transform: translateY(-2px); /* card lift effect */
}
.card-hinge {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.card.flipped .card-hinge {
  transform: rotateY(180deg);
}
.card-face, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
}

/* Back side rotated, hidden by default */
.card-back {
  transform: rotateY(180deg);
  z-index: 1;
}
.card-face {
  z-index: 2;
}

/**************************************************************************************************************************************
*
* Opponents Section
*
***************************************************************************************************************************************/
#opponents {
  margin-top: 1%;
  height: 20%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.opponent-name {
  height: 25%;
}

.opp-cards {
  display: grid;
  grid-template-columns:  repeat(5, auto); /* 5 cards per row */
  height: 75%;
  justify-content: center;
  gap: 2px;
}

/**************************************************************************************************************************************
*
* Player Hand
*
***************************************************************************************************************************************/
#hand {
  grid-column: 1 / 4;
  grid-row: 3;
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
  overflow-x: auto;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  background: var(--hand-container);
  background-size: 100% 100%;
  overflow: hidden;   /* disables scrolling */
  padding: 1%;
}
#hand.hand-disabled .card {
  pointer-events: none;
  filter: grayscale(100%) brightness(1.5);/*Grey scales the card*/
  cursor: default;
  transform: none !important; /* Prevents hover effect */
  border: 2px solid transparent;
}
#played-container {
  position: relative;
  justify-content: center;
  bottom: 9%;
  left: 50%;
  transform: translateX(-50%); /* center horizontally */
  width: 80%;
  height: 25%;
  pointer-events: none;
  display: flex;
}

/**********************************************************************************************************************************************
*
* Cribbage Elements
*
*********************************************************************************************************************************************/
#throwing {
  position: fixed;
  font-size: 40px;
  bottom: 200px;
  left: 45%; 
}
#flipped {
  position: absolute; 
  top: 55%;
  left: 10%;          
  transform: translateY(-50%);
  height: 60%;
  pointer-events: none;   
  cursor: default;               
}
#peggingContainer { 
  position: absolute;
  top: 40%;
  right: 10%;            /* align to right edge */
  transform: translateY(-50%); /* center vertically */
  cursor: default;
}
#pegging{
  font-size: 20px;
}
#peggingTotal {
  display:flex;
  justify-content:center;
  font-size: 40px;
}

#joker-popup.popup {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vh;
  padding: 1%;
  gap: 1%;
  border-radius: 10px;
}